.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

.vscode/
.idea/
*.swp
*.swo

Thumbs.db
Desktop.ini
.DS_Store

*.log
*.db
.pytest_cache/
*.apk